h1 {
  color: aliceblue;
}

.titleDetail {
  margin-top: -30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.titleIMG {
  margin-top: 5%;
}

.imagesDetail {
  display: flex;
  justify-content: center;
}
.logoDetailIzq {
  margin-top: 0%;
  margin-left: -18%;
  position: fixed;
  z-index: 1;
}

.imgDetail {
  text-align: center;
  border-radius: 10px;
  object-fit: cover;
  width: 348px;
  -webkit-box-shadow: 15px 13px 9px 11px rgba(0, 0, 0, 0.74);
  box-shadow: 15px 13px 9px 11px rgba(0, 0, 0, 0.74);
  margin-right: -50%;
  margin-top: 5%;
}

.container {
  border: 2px solid black;
  height: 1500px;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(4, 14, 2, 0.663);
  margin-left: 330px;
}
.summary {
  color: antiquewhite;
  margin: 40px 15px;
  width: 348px;
  height: 250px;
  margin-top: -30%;
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}
.btnDetail {
  background-color: rgba(0, 0, 0, 0.514);
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  transition: 0.5s;
  border: 1px solid black;
  transition: 0.2s;
  height: 190px;
  width: 190px;
  box-shadow: 2px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.imgBtnDetail {
  height: 160px;
  width: 170px;
  object-fit: cover;
}

.btnDetail:hover {
  background-color: rgba(255, 255, 255, 0.13);
}
.btnDetail:active {
  background-color: rgb(61, 61, 61);
  box-shadow: 0 2px rgb(0, 0, 0);
  transform: translateY(4px);
}

h2 {
  color: aliceblue;
}
h3 {
  color: aliceblue;
}
.contHDDtot {
  display: flex;
  margin-top: -5%;
}
.containerHDD {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 7%;
}

.healthScore {
  background-color: rgba(171, 170, 170, 0.302);
  height: 120px;
  width: 150px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 15px 13px 9px 11px rgba(0, 0, 0, 0.74);
  box-shadow: 15px 13px 9px 11px rgba(0, 0, 0, 0.74);
  margin-bottom: 20%;
}

.dietTypes {
  color: aliceblue;
  background-color: rgba(171, 170, 170, 0.302);
  height: 270px;
  width: 150px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 15px 13px 9px 11px rgba(0, 0, 0, 0.74);
  box-shadow: 15px 13px 9px 11px rgba(0, 0, 0, 0.74);
  font-size: 12px;
  margin-left: 4%;
  margin-top: 11%;
}

.dishTypes {
  color: aliceblue;
  background-color: rgba(171, 170, 170, 0.302);
  height: 120px;
  width: 150px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 15px 13px 9px 11px rgba(0, 0, 0, 0.74);
  box-shadow: 15px 13px 9px 11px rgba(0, 0, 0, 0.74);
  font-size: 12px;
}
.steps {
  color: antiquewhite;
  font-size: 12px;
  width: 348px;
  margin-top: 8%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}
.bgImage {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.Loading {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-self: center;
  align-self: center;
  transition: 2s;
  margin-left: 26%;
  margin-top: 18%;
  height: 100px;
  width: 100px;
}
