.card {
  border: white solid 1px;
  background-color: rgba(0, 0, 0, 0.652);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 370px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  transition: 0.5s;
}

.card img {
  text-align: center;
  border-radius: 10px;
  object-fit: cover;
  width: 348px;
}

.card ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  height: 100px;
  margin-right: 40px;
}

.card div h3 {
  background-color: antiquewhite;
  color: black;
  text-align: center;
}

.card h3 {
  background-color: antiquewhite;
  opacity: 50%;
  color: black;
  text-align: center;
}
.card div {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}

.card:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
