.formBG {
  background-color: rgba(4, 14, 2, 0.883);
  height: 900px;
  width: 500px;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 0 auto;
}

.formBG img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 0%;
}

.Form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
::placeholder {
  font-size: 20px;
}
.Form input {
  margin: 5px 5px;
  width: 450px;
  height: 50px;
  max-width: 450px;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  justify-content: center;
}

.dietSelect {
  margin: 5px 5px;
  width: 450px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  background-color: rgb(35 59 23);
  color: antiquewhite;
}

.dietSelect:hover {
  background-color: rgb(35 59 23);
  color: antiquewhite;
}

.buttonContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttonForm {
  width: 90px;
  height: 35px;
  font-size: 15px;
}

.dietTypes {
  color: antiquewhite;
  list-style-type: none;
}

.dietCONT {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  margin: 30px 30px;
}

.divDiets {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 5px;
}

.errors {
  background-color: brown;
  color: aliceblue;
}

.btnX {
  color: brown;
  background-color: aliceblue;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.btnX:hover {
  background-color: brown;
  color: aliceblue;
}
.dietsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
