.SearchBar {
  background-color: rgba(255, 255, 255, 0.421);
  width: 250px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 180px;
  height: 20px;
}

.SearchBar ::placeholder {
  font-size: 11px;
}
.Loading {
  position: fixed;
  z-index: 2;
  transition: 2s;
  margin-left: -31%;
  margin-top: 15%;
  height: 100px;
  width: 100px;
}
